<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test Suite" parallel="none">
    <listeners>
        <listener class-name="com.qa.automation.tests.listeners.TestAllureListener"/>
    </listeners>

    <test name="Place Order tests">
        <classes>
            <class name="com.qa.automation.tests.PlaceOrderTest"/>
        </classes>
    </test>
    <test name="Error Validation tests">
        <classes>
            <class name="com.qa.automation.tests.ErrorValidationTest"/>
        </classes>
    </test>
</suite>
